{#
<!--
Pupilsight, Flexible & Open School System


This is a Pupilsight template file, written in HTML and Twig syntax.
For info about editing, see: https://twig.symfony.com/doc/2.x/
-->#} {% extends "components/dataTable.twig.html" %} {% block table %}
<div id="{{ table.getID }}" style="width:100%">
    <div class="dataTable" data-results="{{ dataSet.getResultCount }}">
        {{ parent() }}
    </div>
</div>

{{ block('bulkActions') }}

<script>
     $(function(){
        $('#{{ table.getID }}').pupilsightDataTable( '{{ path|raw }}', {{ jsonData|raw }}, '{{ identifier }}');
    });
</script>
{% endblock table %} {% block header %}
<div class="flex items-end justify-between pb-2">
    <div class="">
        {{ block('pageCount') }}
    </div>

    {{ parent() }}
</div>

{% if dataSet.getTotalCount > 0 %}
<div class="flex flex-wrap sm:flex-no-wrap items-stretch justify-between">
    <div class="flex items-stretch h-full">
        {% if pageSize %}
        <div class="relative mr-1">
            <div class="absolute caret z-10 mt-3 right-0 mr-5 pointer-events-none"></div>
            {{ pageSize|raw }}
        </div>
        {% endif %} {% if filterOptions %}
        <div class="relative">
            <div class="absolute caret z-10 mt-3 right-0 mr-5 pointer-events-none"></div>
            {{ filterOptions|raw }}
        </div>
        {% endif %} {% if filterCriteria and filterOptions %}
        <nav class="flex cursor-default" style='height: 36px;line-height: 20px;margin-top: 16px;'>
            {{ block('filters') }}
        </nav>
        {% endif %}
    </div>

    {{ block('pagination') }}
</div>
{% endif %} {% endblock header %} {% block footer %}
<!-- {% if dataSet.getResultCount > dataSet.getPageSize %}
    <div class="flex flex-col sm:flex-row sm:items-end justify-end mt-2">
        {{ block('pagination') }}
    </div>
    {% endif %} -->
{% endblock footer %} {% block filters %} {% for name, label in filterCriteria %}
<a href="javascript:void()" class="filter -mx-px py-2 px-3 border border-blue bg-blue hover:bg-blue z-10 text-white font-bold" data-filter="{{ name }}">
            {{ label|raw }}
        </a> {% endfor %}

<a href="javascript:void()" class="filter p-2 rounded-r border border-gray text-white bg-gray font-bold hover:bg-gray clear">
        {{ __('Clear') }}
    </a> {% endblock filters %} {% block pageCount %} {% if dataSet.getTotalCount > 0 %}
<!-- <div class="text-xs">
        {{ searchText ? __('Search') ~ " " }}

        {{ dataSet.isSubset ? __('Results') : __('Records') }}

        {% if dataSet.count > 0 %}
            {{ dataSet.getPageFrom }}-{{ dataSet.getPageTo }} {{ __('of') }}
        {% endif %} 
        
        {{ dataSet.getResultCount|number_format }}
    </div> -->
{% endif %} {% endblock pageCount %} {% block pagination %} {% set buttonStyle = 'border -ml-px px-2 py-1 font-bold leading-loose' %} {% if dataSet.getResultCount > dataSet.getPageSize or filterOptions %}
<div class="pagination mb-2">
    <a href="javascript:void()" class="ml-1 padipag2  prv paginate rounded-l text-white bg-gray border-gray {{ not dataSet.isFirstPage ? 'hover:bg-gray'}} {{ buttonStyle }}" data-page="{{ dataSet.getPrevPageNumber }}" {{ dataSet.isFirstPage ?
        'disabled'}}>
            {{ __('Prev') }}
        </a> {%- for page in dataSet.getPaginatedRange -%} {%- if page == '...' -%}
    <a href="javascript:void()" class="ml-1 padipag2  prv {{ buttonStyle }}" disabled>...</a> {%- else -%}
    <a href="javascript:void()" class="ml-1 padipag2  prv paginate {{ buttonStyle }} {{ page == dataSet.getPage ? 'bg-blue border-blue text-white relative z-10' : 'text-gray hover:bg-gray border-gray' }}" data-page="{{ page }}">{{ page }}</a>    {%- endif -%} {%- endfor -%}

    <a href="javascript:void()" class="ml-1 padipag2  prv paginate rounded-r text-gray border-gray {{ not dataSet.isLastPage ? 'hover:bg-gray'}} {{ buttonStyle }}" data-page="{{ dataSet.getNextPageNumber }}" {{ dataSet.isLastPage ? 'disabled'}}>
        {{ __('Next') }}
        </a>
</div>
{% endif %} {% endblock pagination %} {% block bulkActions %} {% if bulkActions %}
<div class="bulkActionPanel hidden absolute top-0 right-0 w-full flex items-center justify-between p-1 pt-2 bg-purple rounded-t z-20">
    <div class="bulkActionCount flex-grow text-white text-sm text-right pr-3">
        <span>0</span> {{ __('Selected') }}
    </div>

    {{ bulkActions.getOutput|raw }}

    <script>
        {
            {
                bulkActions.getValidationOutput | raw
            }
        }
    </script>
</div>
<div class='float-none'></div>
{% endif %} {% endblock bulkActions %}